/* Add Tailwind */
@import "tailwindcss";

:root {
    --ciano-escuro: #0E7490;
    --cinza-carvao: #262626;
    --azul-petroleo: #1E3A5F;
    --branco-gelo: #F0F4F8;
    --violeta-escuro: #5B21B6;
    --cinza-grafite: #3D3D3D;
    --vermelho-rubi: #9B111E;
}
